$container-width: 90% !default;
$container-max-width: 600px !default;

.container {
  position:relative;
  z-index: 1;
  min-height:100%;
  border:3px;
  border-color:#fff;
  border-style:solid;
  padding:5px;
  display:block;
  overflow-x:scroll;
  width: $container-width;
  max-width: $container-max-width;
  margin-right: auto;
  margin-left: auto;
}

code[class*=language-],
pre[class*=language-] {
  font-size: 1.125rem;
}