$container-width: 90% !default;
$container-max-width: 768px !default;

.container {
  position:relative;
  z-index: 1;
  min-height:100%;
  padding:5px;
  display:block;
  overflow-x:scroll;
  width: $container-width;
  max-width: $container-max-width;
  margin-right: auto;
  margin-left: auto;
}

body {
  div [class*=language-],
  code[class*=language-] {
    font-size: 0.925rem;
  }
}

footer {
  margin: 20px auto 20px;
  padding-top: 10px;
  text-align: right;

  a {
    font-size: inherit;
  }
}

img {
  max-width: 100%;
}

li {
  &> p {
    margin: 0;
  }
}
